<body>
  <div class="signup-container">
    <h1>Welcome to StayManage</h1>
    <h2>Create Account</h2>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div>
        <label>Username</label>
        <input type="text" formControlName="username" />
      </div>

      <div>
        <label>Password</label>
        <input type="password" formControlName="password" />
      </div>

      <button type="submit" [disabled]="signupForm.invalid">Sign Up</button>
    </form>
    <p class="message-text" *ngIf="message" [style.color]="messageColor">{{ message }}</p>
    <p>Already have an account?</p>
    <button (click)="goToLogin()">Login</button>
    <button class="btn btn-danger" (click)="goToTenant()">
      Tenant Regitstration
    </button>
  </div>
</body>
